# Resource service variables
PORT=8002
RESOURCE_POSTGRES_USER=resource_user
RESOURCE_POSTGRES_PASSWORD=resource_password
RESOURCE_POSTGRES_DB=resourcedb
RESOURCE_DATABASE_URL=postgres://${RESOURCE_POSTGRES_USER}:${RESOURCE_POSTGRES_PASSWORD}@resource-db:5432/${RESOURCE_POSTGRES_DB}
AUTH_JWT_SECRET=changeitchangeitchangeitchangeitchangeitchangeitchangeit1234
