# Auth service variables
PORT=8001
AUTH_JWT_SECRET=changeitchangeitchangeitchangeitchangeitchangeitchangeit1234
AUTH_POSTGRES_USER=auth_user
AUTH_POSTGRES_PASSWORD=auth_password
AUTH_POSTGRES_DB=authdb
AUTH_DATABASE_URL=postgres://${AUTH_POSTGRES_USER}:${AUTH_POSTGRES_PASSWORD}@auth-db:5432/${AUTH_POSTGRES_DB}
